.payment-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

	&__form {
		min-width: 500px;
    display: flex;
    flex-direction: column;
	}

  &__submit-button {
    margin-top: 30px;
    margin-left: auto;
  }
}
